@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
body {
    font-family: 'inter', sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    text-align: center; 
    padding-left: 90px;
}

.judul {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d1ecf1;
}
